.*.swp
*.pyc
s-tui
_s-tui.log

*.tar.gz
s_tui.egg-info/
deb_dist/*
dist/*
build/*
.idea/*
*.csv
env/*
FIRESTARTER/*
s_tui/GraphData.py
TODO.md
Notes
env*/*
*.log
*.conf
*.cfg
*.dat
pyenv*
*.loop
*.spec
